<div class="map-container">
    <div class="map-frame">
        <div id="map" (click)="map_clicked()"></div>
    </div>
</div>

<div class="entry-box-frame">
    <form (submit)="check_country()">
        <input
            id="entry-box"
            type = "text"
            name = "curr_country"
            placeholder = "Enter country..."
            spellcheck = "true"
            maxlength="35"
            size="28"

            #entryboxRef
            [(ngModel)] = "curr_country"
            (input)="input_received()"
        />
    </form>
</div>

<mat-menu #button_menu="matMenu" xPosition="after" yPosition="below">
    <button class="button" (click)="reset_zoom()">
        Reset zoom
    </button>
    <button class="button" (click)="toggle_names()">
        Toggle names
    </button>
    <button class="button" (click)="toggle_markers()">
        Toggle markers
    </button>
    <button #giveupRef class="button" (click)="open_giveup_dialog()">
        Give up
    </button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="button_menu" class="button-for-menu">
    <mat-icon>menu</mat-icon>
</button>

<div class="stats">
    {{ num_countries_guessed }} / {{ countries.length }}
</div>
