/* map / leaflet */
.map-container
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 5px;
}
.map-frame
{
    border: 2px solid black;
    height: 100%;
}
#map
{
    height: 100%;
}

.leaflet-container
{
    background-color: #D3E7FF;
}

/* entry box */
.entry-box-frame
{
    /* for being "above" map component */
    position: absolute;
    z-index: 1001;

    /* top: 2%; */
    /* left: 3%; */
    top: 20px;
    left: 60px;
}
#entry-box
{
    font-size: 1.25em;
}

/* all buttons */
.user-button
{
    text-align: center;
    font-size: 13px;

    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;

    padding: 3px;
    border-radius: 5px;
    width: 80px;
    height: 25px;
}

/* reset zoom div */
.reset-zoom
{
    /* for being "above" map component */
    position: absolute;
    z-index: 1001;

    top: 95px;
    left: 11px;
}
/* toggle-names div */
.toggle-names
{
    /* for being "above" map component */
    position: absolute;
    z-index: 1001;

    top: 130px;
    left: 11px;
}
/* toggle-markers div */
.toggle-markers
{
    /* for being "above" map component */
    position: absolute;
    z-index: 1001;

    top: 165px;
    left: 11px;
}
/* give-up div */
.give-up
{
    /* for being "above" map component */
    position: absolute;
    z-index: 1001;

    top: 200px;
    left: 11px;
}


/* guessed countries stats */
.stats
{
    /* for being "above" map component */
    position: absolute;
    z-index: 1001;

    font-size: 1.25em;
    top: 25px;
    right: 25px;
}
