/* map / leaflet */
.map-container
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 5px;
}
.map-frame
{
    border: 2px solid black;
    height: 100%;
}
#map
{
    height: 100%;
}

.leaflet-container
{
    background-color: #D3E7FF;
    /* background-color: red; */
}

/* entry box */
.entry-box-frame
{
    /* for being "above" map component */
    position: absolute;
    z-index: 1001;

    top: 20px;
    left: 60px;
}
#entry-box
{
    font-size: 1.25em;
}

/* guessed countries stats */
.stats
{
    /* for being "above" map component */
    position: absolute;
    z-index: 1001;

    font-size: 1.75em;
    top: 25px;
    right: 25px;
}

/* button for menu */
.button-for-menu
{
    /* for being "above" map component */
    position: absolute;
    z-index: 1001;

    width: 38px;
    height: 35px;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;

    top: 95px;
    left: 15px;
}
/* menu buttons */
.button
{
    width: 100%;
    height: 35px;

    text-align: left;
    font-size: 15px;

    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
.button:hover
{
    background-color: #EAEAEA;
}
/* toggle slides don't indent the same as normal buttons
   so they need separate text-indent amounts */
.button-normal
{
    text-indent: 20px;
}
.button-toggle
{
    text-indent: 24px;
}
.button:disabled:hover
{
    background-color: #FFFFFF;
    cursor: not-allowed;
}
/* menu width */
::ng-deep.mat-menu-panel
{
    max-width: 200px !important;
}
