<div class="map-container">
    <div class="map-frame">
        <div id="map" (click)="map_clicked()"></div>
    </div>
</div>

<div class="entry-box-frame">
    <form (submit)="check_country()">
        <input
            id="entry-box"
            type = "text"
            name = "curr_country"
            placeholder = "Enter country..."
            spellcheck = "true"
            maxlength="64"
            size="25"

            #entryboxRef
            [(ngModel)] = "curr_country"
            (input)="check_country()"
        />
    </form>
</div>

<div class="reset-zoom">
    <button #resetzoomRef class="user-button" (click)="reset_zoom()" title="Reset zoom">
        Reset zoom
    </button>
</div>

<div class="toggle-names">
    <button #togglenamesRef class="user-button" (click)="toggle_names()" title="Toggle names on/off">
        Names
    </button>
</div>

<div class="toggle-markers">
    <button #togglemarkersRef class="user-button" (click)="toggle_markers()" title="Toggle markers on/off">
        Markers
    </button>
</div>

<div class="give-up">
    <button #giveupRef class="user-button" (click)="open_giveup_dialog()" title="Give up?">
        Give up?
    </button>
</div>

<div class="stats">
    {{ num_countries_guessed }} / {{ countries.length }}
</div>
