<div class="map-container">
    <div class="map-frame">
        <div id="map" (click)="map_clicked()"></div>
    </div>
</div>

<div class="entry-box-frame">
    <form (submit)="check_country()">
        <input
            id="entry-box"
            type = "text"
            name = "curr_country"
            placeholder = "Enter country..."
            spellcheck = "true"
            maxlength="35"
            size="28"

            #entryboxRef
            [(ngModel)] = "curr_country"
            (input)="input_received()"
        />
    </form>
</div>

<div class="stats">
    <p>{{ num_countries_guessed }} / {{ countries.length }}</p>
</div>

<div class="info">
    <input class = "info-button"
           type = "image"
           src = "./../../assets/info.png"
           (click) = "info_clicked()"/>
</div>

<mat-menu #button_menu="matMenu" xPosition="after" yPosition="below">
    <button
        class="button button-normal"
        (click)="reset_zoom()">
      Reset zoom
    </button>

    <mat-slide-toggle
        class="button button-toggle"
        [color]="toggle_color"
        [checked]="names_on"
        [labelPosition]="label_position"
        (change)="toggle_names()"
        (click)="$event.stopPropagation();">
        Toggle names&nbsp;&nbsp;&nbsp;&nbsp;
    </mat-slide-toggle>

    <mat-slide-toggle
        class="button button-toggle"
        [color]="toggle_color"
        [checked]="markers_on"
        [labelPosition]="label_position"
        (change)="toggle_markers()"
        (click)="$event.stopPropagation();">
        Toggle markers&nbsp;
    </mat-slide-toggle>

    <button #giveupRef
        class="button button-normal"
        (click)="open_giveup_dialog()">
      Give up
    </button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="button_menu" class="button-for-menu" title="Additional options">
    <mat-icon>menu</mat-icon>
</button>
