.info_dialog
{
    text-align: center;
    /* margin: 10px; */
}

.info_img
{
    float: left;
    border-radius: 20px;
}

.info_text
{
    margin-left: 20px;
}

.info_button
{
    font-size: 1.25em;

    color: #000000;
    border: 1px solid #AAAAAA;
    background-color: #FFFFFF;
    cursor: pointer;

    border-radius: 10px;
    width: 110px;
    height: 40px;
}
.info_button:hover
{
    background-color: #AAAAAA;
}
