@import "~leaflet/dist/leaflet.css";

/* I don't know why the divIcon style needs to be in global... */
/* stackoverflow.com/questions/55133973/ */
.country-name
{
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
