@import "~leaflet/dist/leaflet.css";

/* These leaflet-specific styles need to be in global CSS */
/* More detail: stackoverflow.com/questions/55133973/     */
.country-name
{
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.leaflet-popup-content, .leaflet-popup-content-wrapper, .leaflet-popup-tip
{
    /* popup text */
    color: #FFFFFF;

    /* popup box */
    background: #000000;
}



html *
{
    font-family: Arial, sans-serif;
}

.mat-dialog-container
{
    border-radius: 20px !important;
}
